MessagingToolkit.WCF.Demo.WinForms/Service References/CommandService/MessagingToolkit.Service.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessagingToolkit.Service.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessagingToolkit.Service.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
</xs:schema>